{% extends "mproject/base.html" %} {% block content %}
<div class="container mt-3">
  <div class="card bg-primary text-white">
    <div class="card-body">
      <h1>Movies</h1>
    </div>
  </div>
  <br />
  <div class="card bg-warning text-white">
    <div class="card-body">
      <h2>movie list:</h2>
    </div>
  </div>
  <br />
  <br />
  <br />
  {% for movie in movies %}
  {% if movie.id %}
      <div class="card bg-secondary text-white">
          <div class="card-body">
              <h2>
                  <a href="{% url 'movies:detail' movie.id %}">{{ movie.title }}</a>
              </h2>
              <h3>{{ movie.description|safe|truncatewords:50 }}</h3><br>
          </div>
      </div>
      <br /><br />
  {% endif %}
  {% endfor %}

    </div>
    {% endblock %}
  </div>
</div>
